---
import {getRequest, startRequest} from "../lib/request";

let requestId = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const prompt = formData.get("prompt").toString();
  requestId = await startRequest(prompt);
} else {
  requestId = Astro.url.searchParams.get("requestId");
}

const request = getRequest(requestId);
---

<div
  class="italic"
  hx-get={`/prompt?requestId=${requestId}`}
  hx-target="#result"
  hx-trigger={request.pending ? "load delay:50ms" : ""}
>
  <span>{request.completion}</span>
</div>
